<!DOCTYPE html>
<html>
<head>
    <title>Success Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        setTimeout(function () {
            window.location.href = "/";
        }, 3000);
    </script>
</head>
<link rel="stylesheet" href="../static/css/success.css">
<body>
<div id="particles-js" class="success_container" >
    <img src="../static/images/logo.png" alt="logo">
    <h2>ACM MPSTME</h2>
    <h1>Success!</h1>
    <p>You will be redirected in 5 seconds.</p>
</div>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="../static/js/home.js"></script>
</body>
</html>
